/*--Author: W3Layouts
	Author URL: http://w3layouts.com
	License: Creative Commons Attribution 3.0 Unported
	License URL: http://creativecommons.org/licenses/by/3.0/
 --*/


/* -- //Responsive code -- */
body {
	font-family: 'Montserrat', sans-serif;
	background: #fff;
}

body a,
.slider-info a,
.card.card-pricing {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-o-transition: 0.5s all;
	-ms-transition: 0.5s all;
	text-decoration: none;
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	font-family: 'Montserrat', sans-serif;
}

p {
	margin: 0;
	color: #777;
	font-size: 0.9em;
	line-height: 2;
}

ul {
	margin: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

body a:hover {
	text-decoration: none;
}

body a:focus {
	outline: none;
	text-decoration: none;
}

.list-group-item {
	background-color: transparent;
}

.home {
	width: 100%;
	margin-right: auto;
	margin-left: auto;
}

/*-- bottom-to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 24px;
	right: 3%;
	overflow: hidden;
	z-index: 999;
	width: 32px;
	height: 32px;
	border: none;
	text-indent: 100%;
	background: url(../images/move-top.png) no-repeat 0px 0px;
}

#toTopHover {
	width: 32px;
	height: 32px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}

/*-- //bottom-to-top --*/
/*--/navbar--*/
.navbar {
	padding: 0em 2em;
	border-bottom: 1px solid rgba(243, 242, 242, 0.41);
}
div#menu li.active a {
    color: #4b49de;
}
nav.navbar.fixed-top.navbar-expand-lg.navbar-light.navbar-fixed-top {
	background: none;
	border: none;
	padding: 1em;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	transition: .5s all;
	border-bottom: 1px solid rgba(238, 238, 238, 0.09);
}

h1.wthree-logo {
	line-height: 1;
	
}

h1.wthree-logo a {
	text-transform: capitalize;
	font-size: 0.7em;
	color: #fff;
	letter-spacing: 0.5px;
}

nav.navbar.fixed-top.navbar-expand-lg.navbar-light.navbar-fixed-top.top-nav-collapse {
	background: #fff;
	padding: 0.8em 0;
	box-shadow: 0 3px 5px -1px rgba(0, 0, 0, .2), 0 5px 8px 0 rgba(0, 0, 0, .14), 0 1px 14px 0 rgba(0, 0, 0, .12);
}

nav.navbar.fixed-top.navbar-expand-lg.navbar-light.navbar-fixed-top.top-nav-collapse h1.wthree-logo a {
	color: #000;
	font-size: 0.7em;
}

.nav-sec {
	background: #ffffff;
	width: 45px;
	height: 35px;
	border-radius: 10px;
}

/* Important styles */
#toggle {
	display: block;
	width: 25px;
	margin: 15px auto 10px;
}

#toggle span:after,
#toggle span:before {
	content: "";
	position: absolute;
	left: 0;
	top: -9px;
}

#toggle span:after {
	top: 9px;
}

#toggle span {
	position: relative;
	display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
	width: 100%;
	height: 5px;
	background-color: #333;
	transition: all 0.3s;
	backface-visibility: hidden;
	border-radius: 2px;
}

/* on activation */
#toggle.on span {
	background-color: transparent;
}

#toggle.on span:before {
	transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
	transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on+#menu {
	opacity: 1;
	visibility: visible;
}

/* menu appearance*/
#menu {
	position: absolute;
	right: -68px;
	top: 53px;
	color: #999;
	width: 185px;
	padding: 10px;
	margin: auto;
	text-align: center;
	font-family: 'Montserrat', sans-serif;
	border-radius: 4px;
	background: #fff;
	box-shadow: 0 1px 8px rgba(0, 0, 0, 0.05);
	opacity: 0;
	visibility: hidden;
	transition: opacity .4s;
}

#menu:after {
	position: absolute;
	top: -15px;
	left: 80px;
	content: "";
	display: block;
	border-left: 15px solid transparent;
	border-right: 15px solid transparent;
	border-bottom: 20px solid #fff;
}

#menu li a {
	text-transform: uppercase;
	font-size: 12px;
	display: block;
	margin: 13px;
	font-weight: 600;
	color: #000;
}

/* banner */
.form-control:focus {
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0);
}

/* //banner */
.bg-img {
	padding: 3vw 0 0;
}

h5.in-title {
	padding: 8vw 0 0;
	color: #fff;
	text-transform: capitalize;
	font-size: 2.5em;
	font-weight: 600;
}

.banner {
	background: url(../images/webmainPage.png) no-repeat center transparent;
	background-size: 1000px !important;
	background-position: center;
	min-height: 100vh;
}

.inner-banner {
	background: url(../images/footer.jpg) no-repeat center;
	background-size: cover;
	min-height: 270px;
}

h2.agile-title a {
	font-size: 1em;
}

h3.agile-title {
	padding-bottom: 6vw;
	text-transform: capitalize;
	font-size: 2.5em;
	font-weight: 600;
	color: #000;
}

.banner_text_wthree h4 {
	color: #000;
	text-transform: capitalize;
	font-size: 1.5em;
	line-height: 1.5;
}

/* The following is all you really need for the effect to work */
.backbox h4 {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    font-size: 2.3rem;
    top: 16rem;
    font-weight: bold;
    color: #ffeb3b;
    padding: 0.0625rem;
    line-height: 2;
    width: 100%;
    position: absolute;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0.3)), color-stop(60%, rgba(255, 255, 255, 0.3)), color-stop(100%, rgba(255, 255, 255, 0)));
    background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0));
    background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0));
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3) 40%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0));
}
.bb-text {
	color: #fff;
}

.backbox:before {
	width: 100%;
	height: 0.125rem;
	position: absolute;
	left: 0;
	top: 0;
	content: "";
	background-image: -webkit-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.04) 40%, rgba(255, 255, 255, 0.06) 60%, rgba(255, 255, 255, 0));
	background-image: -moz-linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.04) 40%, rgba(255, 255, 255, 0.06) 60%, rgba(255, 255, 255, 0));
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.04) 40%, rgba(255, 255, 255, 0.06) 60%, rgba(255, 255, 255, 0));
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.04) 40%, rgba(255, 255, 255, 0.06) 60%, rgba(255, 255, 255, 0))
}

.backbox:after {
	width: 100%;
	height: 0.125rem;
	position: absolute;
	left: 0;
	bottom: 0;
	content: "";
	background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(40%, rgba(255, 255, 255, 0)), color-stop(60%, rgba(255, 255, 255, 0.8)), color-stop(100%, rgba(255, 255, 255, 0)));
	background-image: -moz-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0));
	background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0));
	background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0) 60%, rgba(255, 255, 255, 0));
}

/* //banner text */
/* title  */
span.title-icon-wthree {
	color: #e7c13c;
	font-size: 1em;
}

h3.agile-head {
	font-size: 1.9em;
	text-transform: capitalize;
	font-weight: 600;
	color: #000;
}

p.title-text {
	text-transform: capitalize;
	font-weight: 500;
}

/* about */
h4.feed-title {
	color: #000;
	font-size: 1.1em;
	text-transform: capitalize;
	font-weight: 600;
}

a.btn-agile {
	font-size: 14px;
	display: block;
	margin-top: 1em;
	color: #333;
	font-weight: 600;
}

a.btn-agile span {
	margin-left: 10px;
}

.abt-right {
	background: url(../images/a1.jpg) no-repeat center;
	background-size: cover;
	min-height: 100vh;
}

.layer-agileits1 {
	min-height: 50vh;
	background: rgba(255, 87, 34, 0.73);
}

.layer-agileits1,
.layer-agileits2 {
	padding: 6em 5em 0em 1em;
}

.ab-grid-left p,
.txt-ab-right p {
	color: #eee;
}

.layer-agileits2 {
	min-height: 50vh;
	background: rgba(75, 73, 222, 0.74);
}

.layer-agileits-right {
	min-height: 100vh;
	background: rgba(231, 193, 60, 0.89);
	padding: 11em 6em 0;
}

.layer-agileits-right img {
	padding-top: 4em;
}

.abt-left-top {
	background: url(../images/a2.jpg) no-repeat center;
	background-size: cover;
	min-height: 50vh;
}

.abt-left-bottom {
	background: url(../images/a3.jpg) no-repeat center;
	background-size: cover;
	min-height: 50vh;
}

.ab-grid-left h5,
.txt-ab-right h5 {
	font-size: 14px;
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 0.5px;
	font-weight: 800;
}

.ab-grid-left h4,
.txt-ab-right h4 {
	text-transform: capitalize;
	color: #fff;
	font-size: 1.6em;
	padding-bottom: 0.4em;
	margin: 1em 0;
	font-weight: 600;
	border-bottom: 1px solid #fff;
}

.layer-agileits1 img,
.layer-agileits2 img,
.layer-agileits-right img {
	transition: all .3s ease-in-out;
}


.layer-agileits1:hover img,
.layer-agileits2:hover img,
.layer-agileits-right:hover img {
	transform: scale(1.15);
}

/* //about */
/* //title  */
/******************* Accordion Demo - 4 *****************/
#accordion4 .panel {
	border: none;
	border-radius: 0;
	box-shadow: none;
	margin: 0 0 10px;
	overflow: hidden;
	position: relative;
}

#accordion4 .panel-heading {
	padding: 0;
	border: none;
	border-radius: 0;
	margin-bottom: 10px;
	z-index: 1;
	position: relative;
}

#accordion4 .panel-heading:before,
#accordion4 .panel-heading:after {
	content: "";
	width: 50%;
	height: 20%;
	box-shadow: 0 15px 5px rgba(0, 0, 0, 0.4);
	position: absolute;
	bottom: 15px;
	left: 10px;
	transform: rotate(-3deg);
	z-index: -1;
}

#accordion4 .panel-heading:after {
	left: auto;
	right: 10px;
	transform: rotate(3deg);
}

h4.panel-title {
	margin: 10px 0px !important;
}

#accordion4 .panel-title a {
	display: block;
	padding: 15px 70px;
	margin: 0;
	background: #5a5a5a;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1px;
	color: #000;
	border-radius: 0;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 40px rgba(0, 0, 0, 0.1) inset;
	position: relative;
}

#accordion4 .panel-title a:before,
#accordion4 .panel-title a.collapsed:before {
	content: "\f106";
	font-family: "FontAwesome";
	font-weight: 900;
	width: 55px;
	height: 100%;
	text-align: center;
	line-height: 50px;
	border-left: 2px solid #000;
	position: absolute;
	top: 0;
	right: 0;
}

#accordion4 .panel-title a.collapsed:before {
	content: "\f107";
}

#accordion4 .panel-title a .icon {
	display: inline-block;
	width: 55px;
	height: 100%;
	border-right: 2px solid #000;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.7);
	line-height: 50px;
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
}

#accordion4 .panel-body {
	padding: 10px 15px;
	margin: 0 0 20px;
	border-bottom: 3px solid #000;
	border-top: none;
	background: #fff;
	font-size: 15px;
	color: #333;
	line-height: 27px;
}

/* //accordion */

/* gallery */
ul.portfolio-area li figure {
	margin: 0;
}

.portfolio-categ li {
	color: #333;
	cursor: pointer;
	display: inline-block;
	padding: 0 8px;
	font-size: 1em;
	text-transform: capitalize;
}

li.cat-item-1:before,
li.cat-item-2:before,
li.cat-item-3:before,
li.cat-item-4:before {
	display: inline-block;
	padding-right: 1rem;
	padding-left: 0.5rem;
	color: #6c757d;
	content: "/";
}

.portfolio-categ li a {
	color: #333;
	font-weight: 600;
}

.image-block {
	display: block;
	position: relative;
}

.portfolio-area li {
	float: left;
	list-style-type: none;
	overflow: hidden;
	width: 257px;
	margin: 10px;
	border: 1px solid #eaeaea;
}

.home-portfolio-text {
	margin-top: 10px;
}

.portfolio-categ li.active a {
	color: #4b49de;
}

/* //gallery */
/* contact */
#partners {
	background: url(../images/partners.jpg) center no-repeat;
	background-size: cover;
}

form.register-wthree .form-control {
	background: #eee;
	font-size: 0.9em;
}

textarea {
	height: 200px;
	resize: none;
}

form.register-wthree .form-control {
	background: #eee;
	border: none;
	border-left: 3px solid #4b49de;
	border-radius: 0;
	-webkit-box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
	-moz-box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
	box-shadow: 2px 8px 10px 0px rgba(50, 46, 46, 0.23);
}

button.btn.btn-agile.btn-block.w-100.font-weight-bold.text-uppercase {
	background: #4b49de;
	color: #ffffff;
}

.contact-left-agile iframe {
	width: 100%;
	border: 3px solid rgba(75, 73, 222, 0.47);
	margin: 2.5em 0 0;
	min-height: 265px;
}

/* //contact */
/* footer */
.social-icons h2 {
	font-size: 1.1em;
	text-transform: capitalize;
	color: #fff;
	font-weight: 600;
}


ul.social-iconsv2 li {
	display: inline-block;
	margin-right: 6px;
	border-radius: 50%;
}

ul.social-iconsv2 li a {
	text-decoration: none;
	font-size: 16px;
	color: #fff;
}

ul.social-iconsv2 li a i.fa {
	font-size: 14px;
	line-height: 30px;
	width: 30px;
	height: 30px;
	border-radius: 50%;
	text-align: center;
	background-color: transparent;
	transition: all 0.5s ease-in-out;
	-webkit-transition: all 0.5s ease-in-out;
	-moz-transition: all 0.5s ease-in-out;
	-o-transition: all 0.5s ease-in-out;
	-ms-transition: all 0.5s ease-in-out;
}

ul.social-iconsv2 li:first-child {
	background: #003cbb;
	color: #fff;
}

ul.social-iconsv2 li:last-child,
ul.social-iconsv2 li:nth-child(2) {
	background: #1da1f2;
	color: #000;
}

ul.social-iconsv2 li:nth-child(3) {
	background: #dd4b39;
	color: #000;
}

ul.social-iconsv2 li a i.fa:hover {
	background-color: #fff;
	color: #000;
}


ul.social-iconsv2 li a:hover {
	color: #fff;
}

footer {
	padding: 2em 0;
	background: #4b49de;
}

.cpy-right p a {
	text-decoration: underline;
	color: #fff;
}

.footer-top {
	background: url(../images/footer.jpg) no-repeat center;
	background-size: cover;
}

ul.list-agileits li {
	border-right: 1px solid #777;
}

ul.list-agileits li:last-child {
	border: none;
}

ul.list-agileits {
	margin: 2.5em 0;
}

.footer-cont-btm {
	margin-top: 3em;
}

ul.list-agileits li a {
	color: #fff;
	text-transform: uppercase;
	font-weight: 600;
	font-size: 0.9em;
}

h5.footer-top-title {
	color: #fff;
	text-transform: uppercase;
	font-size: 1.2em;
	margin-bottom: 1em;
	letter-spacing: 1px;
	font-weight: 800;
}

.fv3-contact h6 {
	text-transform: uppercase;
	color: #fff;
	margin-bottom: 10px;
}

.address h5 {
	color: #fff;
	text-transform: capitalize;
	font-size: 1.1em;
}

address p,
.header-agile li,
.header-agile li p {
	color: #fff;

}

.header-agile li a {
	color: #fff;
}



.address p a:hover {
	color: #fff;
}

form.footer-top-wthree label {
	width: 30%;
	line-height: 2.5;
	color: #fff;
}

form.footer-top-wthree .form-control {
	border-radius: 0;
	border: none;
	background: #eee;
	color: #000;
	font-size: 0.9rem;
}

.footer-top-form h5 {
	font-size: 2em;
}

form.footer-top-wthree {
	margin-top: 2.5em;
}

button.btn.btn-agile.btn-block.w-25 {
	background: #ffeb3b;
	font-size: 13px;
	text-transform: uppercase;
	color: #000;
	font-weight: 600;
	letter-spacing: 1px;
}

.address h5 {
	font-size: 1.5em;
}

/* //footer */
/* single */
.single-left h5 a {
    margin: 2em 0 1em;
    font-weight: 700;
    font-size: 1.1em;
    border-bottom: 1px solid #a3a29e;
    display: block;
    padding-bottom: 10px;
    line-height: 1.5;
}
.single-left2-left li a {
	color: #000;
	font-size: 14px;
	font-weight: 600;
}

.admin {
	background: #eee;
}

.single-left1 img {
	border: 11px solid #dedede;
	padding: 5px;
	margin: 1em 0 2em;
}

/* //single */
/* -- Responsive code -- */
@media screen and (max-width: 1920px) {
	.layer-agileits-right {
		padding: 10em 6em 1.8em;
	}
}

@media screen and (max-width: 1600px) {
	.layer-agileits-right {
		padding: 6em 6em 0em;
	}
}

@media screen and (max-width: 1440px) {
	.backbox h4 {
		font-size: 2.3rem;
	}

	h5.in-title {
		padding: 10vw 0 0;
	}
}
@media screen and (max-width: 1280px) {

	.layer-agileits1,
	.layer-agileits2 {
		padding: 4em 5em 0em 1em;
	}
}

@media screen and (max-width: 1080px) {
	.backbox h4 {
		font-size: 2rem;
	}

	.ab-grid-left h4,
	.txt-ab-right h4 {
		font-size: 1.3em;
	}

	h5.in-title {
		padding: 13vw 0 0;
	}

	h5.in-title {
		font-size: 2.3em;
	}
	.portfolio-area li {
		width: 290px;
	}
}

@media screen and (max-width: 1050px) {
	.single-left h5 a {
		font-size: 1em;
	}
}
@media screen and (max-width: 991px) {
	.layer-agileits-right img {
		padding-top: 1em;
	}

	.inner-banner {
		min-height: 250px;
	}
	.portfolio-area li {
		width: 210px;
	}
}

@media screen and (max-width: 900px) {
	.backbox h4 {
		font-size: 1.8rem;
	}

	h4.feed-title {
		font-size: 1em;
	}

	h5.in-title {
		padding: 15vw 0 0;
	}
}

@media screen and (max-width: 800px) {

	nav.navbar.fixed-top.navbar-expand-lg.navbar-light.navbar-fixed-top,
	nav.navbar.fixed-top.navbar-expand-lg.navbar-light.navbar-fixed-top.top-nav-collapse {
		padding: 1em 6em;
	}
}

@media screen and (max-width: 768px) {
	h5.footer-top-title {
		font-size: 1.1em;
	}

	h5.in-title {
		font-size: 2.1em;
	}

	.inner-banner {
		min-height: 225px;
	}
}

@media screen and (max-width: 736px) {
	.layer-agileits-right {
		padding: 4em 4em 0em;
	}

	h3.agile-head {
		font-size: 1.6em;
	}

	p.group.inner.list-group-item-text {
		font-size: 0.85em;
	}

	h5.in-title {
		font-size: 1.8em;
	}
	.single-left h5 a {
		font-size: 0.9em;
	}
}

@media screen and (max-width: 667px) {
	h5.in-title {
		padding: 18vw 0 0;
	}
}

@media screen and (max-width: 640px) {
	.backbox h4 {
		font-size: 1.7rem;
	}
}

@media screen and (max-width: 600px) {

	.ab-grid-left h4,
	.txt-ab-right h4 {
		font-size: 1.2em;
	}
}

@media screen and (max-width: 568px) {
	h5.footer-top-title {
		font-size: 1em;
	}

	h3.agile-head {
		font-size: 1.4em;
	}

	.layer-agileits1,
	.layer-agileits2 {
		padding: 4em 5em 1em 2em;
	}

	.backbox h4 {
		width: 95%;
	}

	h5.in-title {
		padding: 22vw 0 0;
	}

	h5.in-title {
		font-size: 1.6em;
	}
	.portfolio-area li {
		width: 240px;
	}
	.single-left h5 a {
		font-size: 0.8em;
	}
}

@media screen and (max-width: 480px) {
	.backbox h4 {
		font-size: 1.5rem;
	}

	.layer-agileits1,
	.layer-agileits2 {
		padding: 4em 3em 1em 1em;
	}

	.ab-grid-left h4,
	.txt-ab-right h4 {
		font-size: 1.1em;
	}

	nav.navbar.fixed-top.navbar-expand-lg.navbar-light.navbar-fixed-top.top-nav-collapse h1.wthree-logo a,
	h1.wthree-logo a {
		font-size: 0.6em;

	}

	h5.in-title {
		padding: 25vw 0 0;
	}
	.portfolio-categ li a {
		font-size: 0.8em;
	}
	.portfolio-area li {
		width: 196px;
	}
}

@media screen and (max-width: 414px) {
	ul.list-agileits.d-flex {
		display: block !important;
		line-height: 2;
	}

	ul.list-agileits li a {
		padding-left: 0 !important;
	}

	ul.list-agileits {
		margin: 0.5em 0;
	}

	ul.list-agileits li {
		border: none;
	}

	h5.in-title {
		padding: 30vw 0 0;
	}
	li.cat-item-1:before, li.cat-item-2:before, li.cat-item-3:before, li.cat-item-4:before {	
		padding-right: 0.5rem;
	}
	.portfolio-area li {
		width: 94%;
	}
}

@media screen and (max-width: 384px) {

	nav.navbar.fixed-top.navbar-expand-lg.navbar-light.navbar-fixed-top,
	nav.navbar.fixed-top.navbar-expand-lg.navbar-light.navbar-fixed-top.top-nav-collapse {
		padding: 1em 4em;
	}

	#menu {
		right: -40px;
		width: 148px;
	}

	#menu:after {
		left: 68px;
	}

	.layer-agileits-right {
		padding: 4em 2em 0em;
	}

	ul.list-agileits li a {
		font-size: 0.8em;
	}

	.inner-banner {
		min-height: 200px;
	}
	.portfolio-categ li {
		padding: 0 4px;
	}
}
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	h1.wthree-logo {
		margin-right: 900px;
	}  	
}

@media screen and (max-width: 375px) {
	.social-icons.d-flex {
		display: block !important;
	}

	h1.wthree-logo {
		margin-right:110px;
	}

	ul.social-iconsv2.agileinfo {
		margin-top: 1em;
	}
}

@media screen and (max-width: 320px) and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2){
	.backbox h4 {
		font-size: 1.2rem;
	}

	h1.wthree-logo {
		margin-right:70px;
	}

	h1.wthree-logo a {
		font-size: 0.6em;
	}

	.layer-agileits1,
	.layer-agileits2 {
		padding: 3em 1em 1em 1em;
	}

	.ab-grid-left h4,
	.txt-ab-right h4 {
		font-size: 1em;
	}

	.ab-grid-left {
		padding-left: 0 !important;
	}

	.layer-agileits-right {
		padding: 3em 2em 0em;
	}

	h3.agile-head {
		font-size: 1.3em;
	}

	p.title-text {
		font-size: 0.8em;
	}
	.inner-banner {
		min-height: 175px;
	}
	.portfolio-categ li {
		padding: 0;
		font-size: 0.95em;
	}
}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 3) {
	h1.wthree-logo {
		margin-right:80px;
	}
}

@media screen and (device-width: 320px) and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 2) {

  	h1.wthree-logo {
		margin-right:50px;
	}

}

@media screen 
  and (device-width: 360px) 
  and (device-height: 640px) 
  and (-webkit-device-pixel-ratio: 4) {

  	h1.wthree-logo {
		margin-right:0px;
	}
}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
  	h1.wthree-logo {
		margin-right:700px;
	}
}

@media only screen 
  and (min-device-width: 768px) 
  and (-webkit-min-device-pixel-ratio: 2) {
  	h1.wthree-logo {
		margin-right:300px;
	}
}
/*================================================================================================*/